<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' 'unsafe-inline'"
    />
    <title>Build Your Web Quickly</title>
</head>
<body>
<div id="root"></div>
</body>
<script>
  window.quicky.on(window.quicky.ipcChannel.TEST_CHANNEL, (arg) => {
    console.log(arg);
  });
  window.quicky.pingTest()
</script>
</html>
